<nav class="pagination">
    <ul class="pagination-list">
    {{ if .Paginator.HasNext }}
        <li class="pagination-item"><a class="pagination-item-link" href="{{ .Paginator.Next.URL }}">&laquo; 较旧文章</a></li>
    {{ else }}
        <li class="pagination-item"></li>
    {{ end }}
    <li class="pagination-item">{{ .Paginator.PageNumber}} / {{ .Paginator.TotalPages}}</li>
    {{ if .Paginator.HasPrev }}
        <li class="pagination-item"><a class="pagination-item-link" href="{{ .Paginator.Prev.URL }}">较新文章 &raquo;</a></li>
    {{ else }}
        <li class="pagination-item"></li>
    {{ end }}
    </ul>
</nav>